mongo.uri.main= # Main db
mongo.uri.test= # Test db

# Use an URI following 1 of the below formats
sample.mongo.uri.auth=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/<DB_NAME>
sample.mongo.uri.static=mongodb://localhost:<PORTNUMBER>/<DB_NAME>